@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #040404;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #625f5f;
    --foreground: #123179;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
